<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="lists-wrapper">
      <ul id="lists">
        {% for list in lists %}
        <li>
            <a href="/lists/{{ list.id }}">
                {{ list.name}}
            </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="todos-wrapper">
        <h3>{{ active_list.name }}</h3>
    <form id="form">
        <input type="text" id="description" name="description"/>
        <input type="submit" value="Create"/>
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
        <ul id="todos">
            {% for todo in todos %}
            <li>
            <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %}/>
            {{ todo.description }}
            <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>